html {
  background-color: rgb(141,165,207);
}

footer {
  padding: 0;
  background-color: rgb(141,165,207);
  line-height: 1;
  font-size: .7rem;
  display: flex;
  justify-content: space-between;
}

.footer-right {
  text-align: right;
}
